
.split {
    height: auto;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
   
  }
  
  .left {
    left: 0;
    }
  
  .right {
    right: 0;
   
  }
  .splitleft{
    color:#2196f3;
  }
  
  .col-centered{
    margin: 0 auto;
    float: none;
}

  .top{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  color: antiquewhite;
  font-size: large;
  }
  .k{
    background-color: white;
    
  }
 .mg {
    
    
  width: auto;
  height: auto;

   background-color: #2196f3;
   color: #2196f3;
  }
.lo{
  width: auto;
  height: auto;
}
